button,
input[type="button"],
input[type="reset"],
input[type="submit"]
  @extend %button

.button
  @extend %button

  &-ghost
    background-color: transparent
    border: 2px solid $primary-color
    color: $primary-color
    margin-bottom: 2px

    &:hover,
    &:focus
      color: #fff
