@import "variables";

$primary-color-80: rgba(51, 122, 183, .8);

::selection {
	background: $primary-color-80;
	color: white;
}

.logo {
	strong {
		color: $primary-color-80;
		@media screen and (max-width:767px) {
			color: white;
		}
	}
	&:hover {
		strong {
			color: $primary-color;
		}
	}
}

#toggleNavbar:checked ~ .logo a, #toggleNavbar:checked ~ .logo span {
    color: #fff !important;
}