@import "variables";

$primary-color-80: rgba(51, 122, 183, .8);
$global-transition: .3s ease all;
$breakpoint-mobile-max: 767px;

// Selection Highlight
::selection {
	background: $primary-color-80;
	color: white;
}

body, div, a {
	transition: $global-transition;
}

.logo {
	strong {
		color: $primary-color-80;
	}
	&:hover {
		strong {
			color: $primary-color;
		}
	}
}

// Hero Logo
.hero-inner {
	h1 {
		font-weight: initial;
	}
	h3 > .bio {
		text-transform: lowercase;
	}
}

// Mobile Menu Logo
#toggleNavbar:checked ~ .logo {
	a, span {
		&:hover {
			opacity: .7;
		}
		strong {
			color: #fff !important;
		}
	}
}

// Certitrack Demo Screenshots (Certitrack Post)
.ct-demo-img {
	.desktop, .mobile {
		display: none;
	}
	@media screen and (max-width: $breakpoint-mobile-max) {
		.mobile {
			display: block;
		}
	}
	@media screen and (min-width: 1px + $breakpoint-mobile-max) {
		.desktop {
			display: block;
		}
	}
}