@import "variables";

$primary-color-80: rgba(51, 122, 183, .8);
$global-transition: .3s ease all;

::selection {
	background: $primary-color-80;
	color: white;
}

body, div, a {
	transition: $global-transition;
}

.logo {
	strong {
		color: $primary-color-80;
	}
	&:hover {
		strong {
			color: $primary-color;
		}
	}
}

#toggleNavbar:checked ~ .logo a, #toggleNavbar:checked ~ .logo span {
	&:hover {
		opacity: .7;
	}
	strong {
		color: #fff !important;
	}
}