<!-- Original Full Screen Carousel by Virgil Pana: https://codepen.io/virgilpana/pen/ByEqew -->
<link href='/css/wordpress.css' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:700' rel='stylesheet' type='text/css'>
<div id="window">
  <div id="header">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="circle"></div>
  </div>
  <div class="thumbs">
    <div class="thumb">
      <p>
      </p>
    </div>
    <div class="thumb">
      <p>
      </p>
    </div>
    <div class="thumb">
      <p>
      </p>
    </div>
    <div class="thumb">
      <p>
      </p>
    </div>
    <div class="thumb">
      <p>
      </p>
    </div>
    <div class="thumb">
      <p>
        Coming Soon
      </p>
    </div>
    <div class="thumb">
      <p>
        Coming Soon
      </p>
    </div>
  </div>
  <div id="bootstrap-carousel">
    <div class="slides">
      <!-- VMM -->
      <div class="slide">
        <a href="https://vmministries.org" target="_blank" class="grid-item-image">
          <sup style="color: #e6c563; text-decoration: underline;">Tap or click image to go to site</sup>
          <img src="/images/wp-vmm.png" alt="Valerie Mitchell Ministries" />
        </a>
        <p>
          <strong>Valerie Mitchell Ministries</strong>
          <span>A ministry site dedicated to teaching people the art of self-mastery. Beautifully built with
            <a href="https://www.elegantthemes.com/gallery/divi/" target="_blank">Divi</a>. Secured and Optimized with
            <a href="https://www.cloudflare.com/en-ca/" target="_blank" rel="noopener noreferrer">Cloudflare</a> CDN.
          </span>
        </p>
      </div>
      <!-- ActEd -->
      <div class="slide">
        <a href="https://actedonline.com/" target="_blank">
          <img src="/images/wp-acted.png" alt="ActEd Online" />
        </a>
        <p>
          <strong>ActEd Online</strong>
          <span>An online acting school with a hefty user database. Hardened and optimized. Powered by
            <a href="https://themeforest.net/item/enfold-responsive-multipurpose-theme/4519990"
              target="_blank">Enfold.</a>
          </span>
        </p>
      </div>
      <!-- Scanna -->
      <div class="slide">
        <a href="https://www.scannaapp.com/" target="_blank">
          <img src="/images/wp-scanna.png" alt="Scanna">
        </a>
        <p>
          <strong>Scanna</strong>
          <span>A pixel-perfect landing page aimed at licensed cannabis producers and investors. Complete with
            <a href="http://https://www.mailchimp.com/" target="_blank" rel="noopener noreferrer">Mailchimp</a>
            integration. Designed in
            <a href="https://www.figma.com/" target="_blank" rel="noopener noreferrer">Figma</a>. Creatively crafted
            with
            <a href="https://elementor.com/" target="_blank" rel="noopener noreferrer">Elementor</a>.
          </span>
        </p>
      </div>
      <!-- XpressChek -->
      <div class="slide">
        <a href="https://xpresschek.com/" target="_blank">
          <img src="/images/wp-xpresschek.png" alt="XpressChek">
        </a>
        <p>
          <strong>XpressChek</strong>
          <span>A candidate screening service for talent-hungry employers. Secured and performance-optimized.</span>
        </p>
      </div>
      <!-- XRCanna -->
      <div class="slide">
        <a href="https://xrcanna.com/" target="_blank">
          <img src="/images/wp-xrcanna.png" alt="XRCanna">
        </a>
        <p>
          <strong>XRCanna</strong>
          <span>A cannabis and technology solutions landing page aimed at investors and licensed producers. Cached and
            optimized.</span>
        </p>
      </div>
    </div>
  </div>
  <div id="espose">
    <p></p>
    <p></p>
    <p></p>
    <p></p>
  </div>
  <div id="loader">
    <div class="circle c1"></div>
    <div class="circle c2"></div>
    <div class="circle c3"></div>
    <div class="circle c4"></div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/245657/easing.js"></script>
<script src="/js/wordpress.js"></script>